<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <mat-error class="alert alert-primary">{{status}}</mat-error>
                <form class="create-category" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input name="nameCategory"  matInput placeholder="Placeholder" [(ngModel)]="form.nameCategory" #nameCategory="ngModel" minlength="3" maxlength="50" required>
                        <mat-icon color="accent" matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="nameCategory.hasError('required')">The name is required</mat-error>
                        <mat-error *ngIf="nameCategory.hasError('minlength')">The name is must more than 3 character</mat-error>
                    </mat-form-field><br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Login
                        <mat-icon color="accent" matSuffix>login</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
